html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.gallery-parent {
  //text-align: center;
  margin: 0 auto;
  //width: 60rem;
  height: 80rem;
  width: 40rem;
}

.gallery {
  position: relative;
}

.pd6-photo {
  height: 20rem;
  position: absolute;
  transition: all 0.3s;
  outline-offset: 1rem;
}

.panda {
  top: 10rem;
  left: 15%;
}

.car {
  top: 2rem;
  right: 0;
}

.mustard {
  top: 4rem;
  left: 65%;
}

.pd6-photo:hover {
  transform: scale(1.3);
  outline: 1rem solid #222;
  z-index: 2;
}

.gallery:hover .pd6-photo:not(:hover) {
  transform: scale(0.5);
  opacity: 0.3;
}

.gallery2 {
  position: relative;
  display: flex;
  height: 80rem;
}

.ball {
  height: 10rem;
}

.galeria {
  position: absolute;
  top: 50rem;
  left: 50%;
  transition: all 0.3s;
}

.pichu {
  height: 30rem;
  visibility: hidden;
}

.ball:hover {
  transform: scale(3);
}

.ball:active {
  visibility: hidden;
}


//.pichu:not(:active) {
 // visibility: visible;
//}

//////////////@extend

.jokercomp {
  position: absolute;
  width: 40rem;
}

.jokercomp:hover {
  transform: translate(10rem, 20rem)
}